<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xy.admin.mapper.agg.SysPostAggMapper">


    <select id="selectPostIsAssignedCount" resultType="java.lang.Integer" parameterType="java.lang.Long">
        SELECT post_is_assigned_count
        FROM sys_post_agg
        WHERE post_id = #{postId}
    </select>
</mapper>