<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xy.admin.mapper.agg.SysUserAggMapper">


    <select id="getPasswordByUserId" resultType="java.lang.String" parameterType="java.lang.Long">
        SELECT password
        FROM sys_user_agg
        WHERE user_id = #{userId}
    </select>
</mapper>